body{
	text-align: center;
	background-color: #66CCCC;
}

p{
	font-size: large;
}

div{
	overflow: auto;	
	width: 25%;
	margin: 0 auto;

}

.option{
	background-color: #5F9F9F;
	user-select: none;
	font-size: large;
	padding : 3%;
	border-style: solid;
	border-width: medium;
	border-color: #5F9F9F;
}

.option:hover{
		background-color: #8FD8D8;
}

#q1{		
	margin-left: 10%;
	margin-top: 10%;
	float:left;
}

#q2{
	margin-left: 60%;
	margin-top: 5%;
}

#q3{
	margin-left: 10%;
	margin-top: 15%;
	float:left;
	margin-bottom: 10%;
}

#q4{
	margin-left: 60%;
	margin-top: 10%;
}